
h1 {
  text-align: center;
}

.main-container {
  padding: 45px;
  margin: auto;
  display: flex;
  justify-content:center;
  gap: 60px;
}

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.preview-container {
  width: 800px;
  height: 800px;
  border: solid;
  border-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#preview {
  width: 500px;
  height: 500px;
  border: solid;
  border-color: black;
}

.colorsetting {
  display: flex;
  justify-content: flex-start;
  gap: 25%;
}

