

body {
  font-family: "Rubik";
  font-weight: 400;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
}

h1 span {
  font-size: 30px;
}

.content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.main-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.settings-container {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preview-container {
  width: 1000px;
  height: 700px;
  border: solid;
  border-color: black;
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/advice/maps-satellite-images/satellite-image-of-globe.jpg");
}

#preview {
  width: 300px;
  height: 300px;
  border: solid;
  border-color: black;
}

.code-container {
  margin: auto;
  font-family: "Fira Code";
  font-weight: 400;
  font-size: 20px;
  width: 775px;
  height: 250px;
  border: solid;
  border-color: black;
  background-color: #0d1623;
  color: white;
}

#btn-copy {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 17px;
  position: relative;
  top: 10px;
  left: 665px;
}

#glass {
  color: rgb(240, 240, 68);
}

.codeline-property{
  color: rgb(42, 198, 154);
}

.value {
  color: rgb(255, 104, 104);
}

.value-highlight {
  color: rgb(255, 57, 57);
}

.colorsetting {
  display: flex;
  justify-content: flex-start;
}


          

          